.card-flip {
  width: 220px; 
  height: 275px; 
  margin: 20px;
  position: relative;
  perspective: 800px; 
  }
  .content-flip{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  }
  
  .card-flip:hover .content-flip {
    transform: rotateY(180deg); 
  }
  
  .content-flip > div {
    position: absolute;
    width: 100%;
    height: 100%;
    /* width: 250px; */
    /* height: 100%; */
    backface-visibility: hidden; 
  }
  
  .content-flip > div:first-child {
    transform: rotateY(0deg); 
  }
  
  .content-flip > div:last-child {
    transform: rotateY(180deg); 
  }
  