@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .no-drag {
    background-color: #77EBB3;
    position: relative;
    bottom: 24px;
  }
  
}

/* @layer components {
  .button-carousel {
    @apply font-['Tahoma'] text-[20px] text-[#F9FAFB] relative right-[1050px] top-[90px] bg-[#EEBF17] w-[200px] h-[35px]  rounded-[5px];
  }
} */